.git
.gitlab
.github
.idea
.vscode
node_modules
vendor
ccdaservice/node_modules
public/assets
public/themes
sites/*/documents
sites/*/sqlconf.php
sites/*/letter_templates
sites/*/era
sites/*/edi
docker
tests
Documentation
*.log
.DS_Store
.env
.env.*
!.env.example
